
/* Century_Gothic */
@font-face {
    font-family: 'Century_Gothic';
    src: url('fonts/Century_Gothic/CenturyGothicStd.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Century_Gothic';
    src: url('fonts/Century_Gothic/CenturyGothicStd-Italic.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Century_Gothic';
    src: url('fonts/Century_Gothic/CenturyGothicStd-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Century_Gothic';
    src: url('fonts/Century_Gothic/CenturyGothicStd-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

/* Futura */
@font-face {
    font-family: 'Futura';
    src: url('fonts/futura/FuturaStd-Book.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('fonts/futura/FuturaStd-BookOblique.otf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura';
    src: url('fonts/futura/FuturaStd-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Futura';
    src: url('fonts/futura/FuturaStd-BoldOblique.otf');
    font-weight: bold;
    font-style: italic;
}

/* Playfair_Display */
@font-face {
    font-family: 'Playfair_Display';
    src: url('fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Playfair_Display';
    src: url('fonts/Playfair_Display/PlayfairDisplay-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair_Display';
    src: url('fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Playfair_Display';
    src: url('fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
