footer#page_footer{
  padding: 30px 15px;
  .footer_content, .footer_widgets_wrapp{
    display: flex;
    justify-content: space-between;
  }
  .footer_widgets_wrapp{
    flex: 1;
  }
  .footer_icon{
    font-size: 6rem;
    line-height: 4rem;
    padding-right: 20px;
  }

  .footer_widget_area{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{ font-weight: 300;}
      li:first-child{ font-weight: 400;}
    }
  }

}
