.muss_btn, button{
	background: $black;
	color: #fff;
	border: none;
	outline: none;
	font-family: 'Futura';
	font-size: $fontSize_base;
	padding: 2px 10px;
	opacity: 0.8;
	&:hover{
		opacity: 1;
		cursor: pointer;
	}
}

input{
	background: transparent;
	border: none;
	border-bottom: solid 1px $black;
	outline: none;
	font-family: inherit;
}

.newsletter_form{
	button{
		margin-top: 14px; 
	}
}