.muss_btn, button{
	@include mussBtn();
}

input{
	background: transparent;
	border: none;
	border-bottom: solid 1px $black;
	outline: none;
	font-family: inherit;
}

.newsletter_form{
	button{
		margin-top: 14px; 
	}
}