#main_header{
    padding: 30px 0 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $greyBg;
    transition: all 0.3s;



    .header_box{
    	display: -webkit-flex;
    	display: flex;
    	-webkit-align-items: baseline;
    	align-items: baseline;
    	-webkit-justify-content: space-between;
    	justify-content: space-between;
      flex-wrap: wrap;
    }

    .header_menu_wrap{
      flex: 1;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
    	justify-content: space-between;
      flex-wrap: wrap;
    }

    .header_logo{
      transition: all 0.3s;
    	line-height: 2.5em;
      font-size: 1rem;
      margin-bottom: -1px;
    	text-decoration: none !important;
    	&:hover{
    		text-decoration: none;
    	}

    	.logo_text{
    		font-size: 4em;
    	}
    	.grey_text{
    		font-size: 3em;
    	}
    }

    .main_nav{
    	-webkit-flex: 1; /* Safari 6.1+ */
      -ms-flex: 1; /* IE 10 */
      flex: 1;
      padding: 0 30px;
      flex-wrap: wrap;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li{ padding: 0 10px 0 0; }
        li:last-child{ padding-right: 0; }
        a{
          @include mussComas(',');
        }
        & > li:last-child a{ @include mussComas('.'); }
      }
    }
}

.admin-bar #main_header{ top: 32px;}

#main_header.scrolled{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 10px 0;
    .header_logo{
      font-size: .8rem;
    }

}
