
@media screen and (max-width: 992px) {
  #main_header{
    .header_menu_wrap{
      flex: 0 0 100%;
    }
    .main_nav{
      padding-left: 0;
    }
    .menu_burguer{ display: block;}
  }

}

@media screen and (max-width: 782px) {
  .admin-bar #main_header{ top: 46px;}
}

@media screen and (max-width: 768px) {
  #main_header{
    .header_right_box{
      flex: 0 0 100%;
    }
  }

}

@media screen and (max-width: 600px) {
  .admin-bar #main_header{ top: 0;}
}
