.contact_page_content{
	display: flex;
	justify-content: space-between;

	.contact_coma{
		text-align: center;
		flex: 1;
		max-width: 350px;
		span{
			font-size: 200px;
		    display: inline-block;
		    height: 136px;
	        line-height: 44px;
		}
	}
	.contact_title{
		max-width: 350px;
		line-height: 0.7em;
		margin-right: 56px;
	}
	.contact_content{
		flex: 1;
	}

}


.page_with_sidebar{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sidebar{
	flex: 0 0 25%;
    margin-right: 30px;
    ul{
    	margin: 0;
    	list-style: none;
    	padding-left: 15px;
    }
}
.sidebar_page_content{
	flex: 1;
}
.productSidebar_title{
	margin: 0 0 20px 0;
	text-decoration: underline;
    font-weight: 400;
    font-size: $fontSize_base;
}
.product_sidebar_widget{
	margin-bottom: 33px;
}