$greyBg: #e9e8e8;
$greyColor: #928a81;

$black: #231f20;

$fontSize_base: 16px;
$fontSize_1: 53px;
$fontSize_2: 39.75px;
$fontSize_3: 31.005px;
$fontSize_4: 25px;
$fontSize_5: $fontSize_base;


/*
Mixins
*/

@mixin mussComas($char: ',', $size: 1em) {
  &::after{
    content: $char;
    font-family: 'Playfair_Display';
    font-weight: bold;
    color: $greyColor;
    font-size: $size;
  }

}

@mixin mussBtn() {
  background: $black;
	color: #fff;
	border: none;
	outline: none;
	font-family: 'Futura';
	font-size: $fontSize_base !important;
	font-weight: normal;
	line-height: normal;
    border-radius: 0;
	text-transform: lowercase;
	padding: 2px 10px;
	opacity: 0.8;
	&:hover{
		opacity: 1;
		cursor: pointer;
		text-decoration: none; 
		color: #fff;
	}

	&.mediumSize{ padding: 10px 20px; }

	&[disabled]{ 
		opacity: 0.2; 
		cursor: not-allowed;
	}
}
