#homeProdList{
	.product-title, .woocommerce-Price-amount{
		display: none;
	}

	.product_list_widget{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 800px;
		margin: 0 auto;
		padding: 80px 0 85px 0;
		li{
			flex: 1 1 50%;
			display: flex;
			justify-content: center;
			position: relative;
			padding: 30px 10px;
		    box-sizing: border-box;
			&::after{
				content: ",";
				font-family: 'Playfair_Display';
				font-weight: bold;
				color: #928a81;
				font-size: 150px;
			    line-height: 0;
				position: absolute;
			    bottom: 50px;
			    right: 0px;
			}
			&:last-child::after{ content: ";"; }

			img{
				height: 100%;
				max-height: 250px;
			}
		}

	}
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
	float: none;
	width: auto;
    height: auto;
    display: block;
    object-fit: contain;
}

.widget_price_filter{
	
	.price_slider_wrapper{
		max-width: 215px;
		.price_slider_amount{
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			button{
				@include mussBtn();
				line-height: 1.4em;
				float: none;
			}
		}
		.clear{ display: none; }
	}
	.price_slider_wrapper .ui-widget-content{
		background-color: $black !important;
	}

	.ui-slider .ui-slider-range,
	.ui-slider .ui-slider-handle{
		background-color: $greyColor !important;
	}

}

.muss_product_list{
	display: flex;
	list-style: none;
	padding: 0;
	width: 100%;
	flex-wrap: wrap;
	margin: 0;

	li{
	    flex: 0 0 33%;
	    display: flex;
	    align-items: flex-end;

	    & > .muss_comas{ font-size: 140px; }

	    &:last-child .muss_comas::after{
	    	content: ";";
	    }
	}

}

.product_card{
	position: relative;
	height: 100%;
	img{
		height: 100%;
		max-width: 100%;
		width: 100%;
		object-fit: contain;
	}
	.prod_card_content{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border: solid 1px $black;
		background-color: $greyBg;
		transition: all 0.4s ease-in-out;
		padding: 20px 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;

		opacity: 0;

		strong{
			font-weight: 500;
		}
		
	}

	&:hover .prod_card_content{
		opacity: 1;
	}

	.muss_comillaBaja{
		font-size: 110px;
		line-height: 71px;
	    margin-bottom: -52px;
	}

	.prod_card_addToCart{
		font-size: 40px;
		line-height: 20px;
		cursor: pointer;
		color: $black;
		font-family: 'Playfair_Display';
		font-weight: bold;
		opacity: 0.6;
		text-decoration: none;
		a{
			color: $black;
			text-decoration: none;
		}

		&:hover, a:hover{
			opacity: 1;
		}
	}

}

.colorRadio, .tawcvs-swatches .swatch-color{
	width: 10px !important;
	height: 10px !important;
	border-radius: 50% !important;
	display: inline-block !important;
	vertical-align: middle !important;
	border: solid 1px $greyColor !important;
	opacity: 1;
	position: relative;
	margin-right: 10px;

	&::before{ display: none!important; }
}

.tawcvs-swatches{ padding: 0; margin: 2px 0 10px 0;}
.reset_variations{ display: none; }

.woocommerce-product-gallery{

	.woocommerce-product-gallery__wrapper{
		margin: 0;
	}

	.flex-viewport{
		border: solid 1px $black;
		margin-bottom: 20px;
	    cursor: move;
	}
}

.woocommerce div.product form.cart div.quantity{
	float: none !important;
	margin: 15px 0;
}

/**
 * carrito resumen
 */

dl.variation{
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	dt{
		margin-right: 10px;
	}

	dd{
		flex: 1;
	}
}


.woocommerce a.button, .woocommerce input.button{
	@include mussBtn();
	padding: 10px 20px;
}

.woocommerce a.remove{
	font-size: 1.5em;
	height: 1.1em;
	width: 1.1em;	
}