#homeProdList{
	.product-title, .woocommerce-Price-amount{
		display: none;
	}

	.product_list_widget{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 800px;
		margin: 0 auto;
		padding: 80px 0 85px 0;
		li{
			flex: 1 1 50%;
			display: flex;
			justify-content: center;
			position: relative;
			padding: 30px 10px;
		    box-sizing: border-box;
			&::after{
				content: ",";
				font-family: 'Playfair_Display';
				font-weight: bold;
				color: #928a81;
				font-size: 150px;
			    line-height: 0;
				position: absolute;
			    bottom: 50px;
			    right: 0px;
			}
			&:last-child::after{ content: ";"; }

			img{
				height: 100%;
				max-height: 250px;
			}
		}

	}
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
	float: none;
	width: auto;
    height: auto;
    display: block;
    object-fit: contain;
}

.widget_price_filter{
	
	.price_slider_wrapper{
		max-width: 215px;
		.price_slider_amount{
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			button{
				@include mussBtn();
				line-height: 1.4em;
				float: none;
			}
		}
		.clear{ display: none; }
	}
	.price_slider_wrapper .ui-widget-content{
		background-color: $black !important;
	}

	.ui-slider .ui-slider-range,
	.ui-slider .ui-slider-handle{
		background-color: $greyColor !important;
	}

}